/*
	Miniport by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/* Button */

	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	button,
	.button {
		background-image: url("img/ie/grad0-20.svg");
	}

/* List */

	ul.social li a:before {
		background-image: url("img/ie/grad0-20.svg");
	}